@model Uppgift_1_Kurs_5_AspnetMVC.Entities.SchoolClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@if (ViewBag.ClassInfo == null)
{
<h3>Are you sure you want to delete the class</h3>
}
else
{
    <h2>Remove students from class first!</h2>
    <a  asp-controller="SchoolClassStudents" asp-action="Index">StudentView</a>
}

<div>
    <h4 class="mt-2">@Html.DisplayFor(model => model.ClassName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.DisplayName)
        </dd>
        @if (ViewBag.ClassInfo == null)
        {

        }
        else
        {
            @foreach (var user in ViewBag.ClassInfo)
            {
                <dt class="col-sm-2">
                    Student
                </dt>
                <dd class="col-sm-10">
                    @user.Student.DisplayName
                </dd>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:yyyy/MM/dd}", Model.Created)
        </dd>
    </dl>

    @if (ViewBag.ClassInfo == null)
    {
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" id="delete_btn" /> |
    <a asp-action="Index">Back to List</a>
</form>
    }
    else
    {
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" id="delete_btn" disabled="disabled" /> |
    <a asp-action="Index">Back to List</a>
</form>

    }

</div>
