@model Uppgift_1_Kurs_5_AspnetMVC.Entities.SchoolClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*@foreach (var user in ViewBag.ClassInfo)
{
    <div></div>
}*@


<div>
    <h4>@Model.ClassName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.DisplayName)
        </dd>
        @foreach(var user in ViewBag.ClassInfo)
        {
        <dt class="col-sm-2">
        Student
        </dt>
        <dd class="col-sm-10">
            @user.Student.DisplayName
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
