@model IEnumerable<Uppgift_1_Kurs_5_AspnetMVC.Entities.SchoolClassStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add Student To Class</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Students
            </th>
            <th>
                Class
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Students) {
        <tr>
            <td>
              @item.Student.DisplayName
            </td>
            <td>
            @item.GetSchoolClass.ClassName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
